.content div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.content {
    display: grid;
    width: 90%;
    justify-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas: "."
                         "content";
}

.error {
    width: 100%;
    padding: 10px;
    background-color: #FFBABA;
    border: 1px solid red;
    border-radius: 2px;
    margin-bottom: 5px;
}


/*=============================================
=                 FORM CSS                    =
=============================================*/


.form-style-6{
    width: 50%;
    background: #F7F7F7;
}
.form-style-6 h1{
    background: #495e68;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;   
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #2EBC99;
}

.form-style-6 .ck-editor__main {
    padding: 10px;
}

.form-style-6 .ck-editor__editable {
    min-height: 200px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    background-color: #495e68;
    display: inline-block;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #5e7a86;
}

#sitesettingsForm input[type="text"]{
    padding: 0 !important;
    border: 2px solid red !important;
}


/*=====  End of FORM CSS  ======*/



/*=============================================
=                TABLES CSS                   =
=============================================*/

.customTable {
    border-collapse: collapse;
    grid-area: content;
    width: 100%;
    color: white;
    display: block;
    height: 300px;
}

.customTable thead, tbody, tr, th, td { display: block; width: 100%;}

.customTable td, .customTable th {
    padding: 11px;
}


.customTable thead tr {
    background-color: #4CAF50;
    width: 97%;
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

.customTable thead tr:hover {
    background-color: #4CAF50;
}

.customTable tr:after { 
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.customTable tbody {
    height: 300px;
        display: inline-block;
        width: 100%;
        overflow-y:scroll;
}

.customTable tbody td, thead th {
    width: 16%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
}
    

.customTable tr {background-color: #37474f;}

.customTable tr:nth-child(even){background-color: #495e68;}

.customTable tr:hover {background-color: #688491;}

.customTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.customTable .btns {
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    justify-content: space-around;
    display: flex;
    border: none;
}

.customTable .btns > i {
    cursor: pointer;
}

.customTable .btns > a:first-of-type{
    color: red;
}

/*=====  End of TABLES CSS  ======*/





/*=============================================
=             Edit Frontpage CSS              =
=============================================*/

.frontPageAdmin {
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.frontPageAdmin > .form-style-6 {
    width: 100%;
}


/*=====  End of Edit Frontpage CSS  ======*/



/*=============================================
=                 Cateogry CSS        ´      =
=============================================*/

.categoryAdmin {
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr;
    grid-template-areas: "table" "form";
    grid-gap: 50px;
}
.categoryAdmin .customTable {
    grid-area: table;
}

.categoryAdmin .form-style-6 {
    grid-area: form;
}

.categoryAdminEdit {
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.categoryAdminEdit > .form-style-6 {
    width: 100%;
}


/*=====  End of Cateogry CSS  ======*/





