/*=============================================
=              Overall Styling                =
=============================================*/

body {
    display: grid;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color:#fff;
}

header {
    display: grid;
    grid-area: hd;
    position: relative;
    background-color:#c9cacc;
}

main {
    display: grid;
    grid-area: main;
}

footer {
    display: grid;
    grid-area: ft;
}

h1, p {
    margin: 0;
}

p {
    font-size: 11px;
}

.mainContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 200px auto 30px;
    grid-template-areas: 
        "hd hd hd hd hd hd hd hd hd hd"
        "main main main main main main main main main main"
        "ft ft ft ft ft ft ft ft ft ft";
}

.wrapper {
    width: 960px;
    display: grid;
    justify-self: center;
}

.container {
    display: grid;
    grid-template-rows: 30px auto;
    padding: 20px;
}

.container > .headerTitles {
    display: grid;
    grid-template-columns: auto 240px;
}

.content {
    display: grid;
    grid-template-columns: auto 2px 240px;
    grid-template-areas: "content streg offers";
    grid-column-gap: 20px;
}

.pageContent {
    display: grid;
    grid-area: content;
    border-top: 2px solid #c7c7c7;
    padding-top: 10px;
}

.streg {
    grid-area: streg;
    background-color: #c7c7c7;
    height: 85%;
    margin-top: 10px;
}

/*=====  End of Overall Styling  ======*/




/*=============================================
=                  Header CSS                 =
=============================================*/

.header-box {
    height: 170px;
    align-self: end;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(#19f706 60%, #10bc1c);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: #b1b1b1 2px solid;
    border-bottom: none;
}

.search {
    display: grid;
    grid-template-columns: 1fr;
    background: url(../images/site/headerGearTing.png) no-repeat;
    background-position: right bottom;
    background-size: auto 170px;
}

.search > form {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-self: center;
    justify-self: end;
    z-index: 9999;
}

.search > form > #search {
    grid-column: 1/3;
}

.search > form > #btn_search {
    grid-column: 1;
}

.search > form > #adv_search {
    grid-column: 2/3;
    align-self: end;
    color: white;
    text-decoration: none;
    font-size: 11px;
    padding-left: 2px;
}

.search > form > #adv_search:hover {
    color: black;
}

.site-logo {
    align-self: center;
}

.logo-text {
    color: white;
    padding-left: 50px;
}


/*=====  End of Header CSS ======*/





/*=============================================
=               Main content CSS              =
=============================================*/

.mainContent {
    grid-template-columns: 1fr;
    border: 2px solid #b1b1b1;
}

.nav-wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-bottom: 2px solid #b1b1b1;
    background-color:#c9cacc;
}

.nav-wrapper > .navbar {
    display: grid;
    grid-column: 1/8;
    grid-auto-rows: 30px;
    grid-template-columns: repeat(5, 1fr);
}

.nav-wrapper > .navbar > .link {
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    border-right: 2px solid #b1b1b1;
}

.nav-wrapper > .navbar > .link:hover {
    background-color: #767676;
    color: #fff;
}

.siteTitel {
    color:#FF9E41;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

/*=====  End of Main content CSS  ======*/




/*=============================================
=                 Footer CSS                  =
=============================================*/

.footerContent {
    grid-template-columns: 1fr;
    border: 2px solid #b1b1b1;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:#c9cacc;
    display: grid;
    align-items: center;
    justify-items: center;
}

.footerContent > .footerInfo {
    display: flex;
}

.footerContent > .footerInfo > p {
    color: #a4a4a4;
}

.footerContent > .footerInfo > p::after {
    content: "\00a0";
}

/*=====  End of Footer CSS  ======*/



/*=============================================
=                  Aside CSS                  =
=============================================*/

.aside {
    grid-area: offers;
    display: grid;
    align-items: center;
    padding-bottom: 20px;
    border-top: 2px solid #c7c7c7;
    padding-top: 10px;
    box-sizing: border-box;
}


.aside > .offers a {
    display: grid;
    justify-items: center;
    text-decoration: none;
    color: black;
}

.aside > .offers > a > p {
    line-height: 1.3em;
}

.prevPrice {
    position: relative;
    display: inline-block;
}

.prevPrice::before {
    content: '';
    border-bottom: 1px solid black;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.newPrice {
    color: red;
}


/*=====  End of Aside CSS  ======*/





/*=============================================
=                Frontpage CSS                =
=============================================*/

.homeContent > article {
    display: block;
}

.homeContent > article > p{
    width: 100%;
}

.homeContent > article > img {
    float: right; 
    margin: 0px 15px 15px 10px;
}



/*=====  End of Frontpage CSS  ======*/



/*=============================================
=                Bicycles CSS                 =
=============================================*/

.categoriesContent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.categoriesContent > .categories {
    grid-column: 2/6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    align-items: center;
    justify-items: center;
    align-self: start;
    justify-self: center;
    grid-column-gap: 70px;
    padding-top: 50px;
}

.categoriesContent > .categories > a {
    text-decoration: none;
    color: black;
}

.categoriesContent > .categories > a > div {
    display: grid;
    align-self: start;
    align-items: center;
    justify-items: center;
}


.categoriesContent > .categories > a > div > img {
    width: 116px;
    height: 80px;
}


/*=====  End of Bicycles CSS  ======*/


/*=============================================
=               Productlist CSS               =
=============================================*/

.productContent {
    display: grid;
    align-self: start;
    grid-template-columns: 1fr;
    height: 100%;
}

.productContent .products {
    display: grid;
    grid-row-gap: 20px;
}

.productContent .productList {
    width: 95%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 2px solid #ededed;
    padding: 10px;
    height: 114px;
}

.productContent .productList > .productInfo {
    display: grid;
    grid-column: 1/5;
}

.productContent .productList > .productInfo > .productPrice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
}

.productContent .productList > .productInfo > .productPrice > a {
    color: #FF9E41;
    font-weight: bold;
    justify-self: end;
    font-size: 11px;
}

.productContent .productList > img {
    grid-column: 6/7;
    align-self: end;
    width: 116px;
    height: 80px;
}

#data {
    display: grid !important;
    justify-self: end !important;
    align-self: end !important;
}
#data td a {
    color: #FF9E41;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #FF9E41;
    padding-bottom: 1px;
}


/*=====  End of Productlist CSS  ======*/



/*=============================================
=              Single Product CSS             =
=============================================*/

.singleProduct {
    display: grid;
    grid-template-areas: "img productInfo" "colors price";
    grid-template-columns: 200px auto;
}

.singleProduct > img {
    grid-area: img;
    align-self: center;
    justify-self: center;
}

.singleProduct .productInformation {
    grid-area: productInfo;
}

.singleProduct .colors {
    grid-area: colors;
}

.singleProduct .colors > img {
    padding-right: 5px;
    height: 18px;
}

.singleProduct .price {
    grid-area: price;
}

/*=====  End of Single Product CSS  ======*/



/*=============================================
=                 CONTANT CSS                 =
=============================================*/

.contactSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "info img";
}

.contactSection .infoBox {
    grid-area: info;
    width: 80%;
    height: 80%;
    justify-self: center;
    align-self: center;
}

.contactSection .infoBox p {
    font-size: 1em;
}

.contactSection .infoBox p:first-of-type {
    font-weight: bolder;

}

.contactSection .img {
    grid-area: img;
}


/*=====  End of CONTANT CSS  ======*/



/*=============================================
=              ADVANCED SEARCH CSS            =
=============================================*/


.advSearch {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100px;
    grid-gap: 25px;
}

.advSearch > div:nth-child(even) {
    display: grid;
    grid-template-columns: 100px auto 50px;
    justify-items: center;
    align-items: center;
}

.advSearch > div:nth-child(odd) {
    display: grid;
    grid-template-columns: 100px auto;
    justify-items: center;
    align-items: center;
}


/*=====  End of ADVANCED SEARCH CSS  ======*/


